{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1 class="text-white text-center justify-center text-xl font-extrabold">Music page</h1>
<!--Card columns-->
<div class="container mx-auto">
    <!--Flex on medium screens and up-->
    <div class="md:flex">
        {% for music in music_list %}

        <div class="flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded w-40">
            <div class="lg:flex lg:item-center">
                <div class="flex">
                    <img src="{% static 'images/music.png' %}" alt="{{ forloop.counter}}" class="rounded-lg lg:w-64"/>
                </div>
                <div class="mt-4 lg:mt-0 lg:ml-6">
                    <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold">{{music.name}}</div>
                    <p href="#" class="block mt-1 text-lg leading-tight font-semibold text-gray-900">
                        Finding connections to help your business grow </p>
                    <div class="flex-shrink-0 mx-auto md:flex">
                    <a href="{{ music.url }}" class="block mt-1 text-lg leading-tight font-semibold text-white">Preview</a>
                    <a href="{{ music.url }}" download="{{ music.name }}" class="block mt-1 text-lg leading-tight font-semibold text-white">Download</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

